In [2]:
import pandas as pd
import numpy as np

# Load cleaned dataset
df = pd.read_csv("../data/listings_clean_v1.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,log_price,last_review_year,last_review_month
0,10803,"Room in Deco Apartment, Brunswick East",38901,Lindsay,NaN,Moreland,-37.766060,144.979510,Private room,54.0,...,204,2025-04-23,1.35,1,148,14,NaN,4.007333,2025.0,4.0
1,43429,Tranquil Javanese Studio and Pond!,189684,Allan,NaN,Monash,-37.899830,145.115790,Entire home/apt,128.0,...,269,2025-06-04,1.52,3,165,10,NaN,4.859812,2025.0,6.0
2,44082,Queen Room in Beautiful House,193031,Vicki,NaN,Frankston,-38.147680,145.143640,Private room,79.0,...,65,2025-04-06,0.37,8,127,6,NaN,4.382027,2025.0,4.0
3,47100,"Cosy, cute comfortable little home in top loca...",212071,Loren,NaN,Yarra,-37.818371,145.005005,Entire home/apt,116.0,...,180,2025-01-08,1.00,1,16,1,NaN,4.762174,2025.0,1.0
4,51592,Central City Warehouse Apartment,190879,Michelle,NaN,Melbourne,-37.812660,144.963130,Entire home/apt,257.0,...,497,2025-05-24,2.85,1,193,52,NaN,5.552960,2025.0,5.0

In [4]:
df = df.drop(columns=["id", "name", "host_name"])

In [6]:
# Price per minimum night (helps detect very expensive short stays)
df["price_per_night"] = df["price"] / df["minimum_nights"]

# Total potential reviews (reviews * min_nights)
df["reviews_ratio"] = df["number_of_reviews"] / (df["minimum_nights"] + 1)

# Combine location info: (optional, for geo analysis)
df["lat_long"] = df["latitude"].astype(str) + "_" + df["longitude"].astype(str)

In [8]:
# One-hot encode room_type
df = pd.get_dummies(df, columns=["room_type", "neighbourhood"], drop_first=True)

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

num_cols = ["price", "minimum_nights", "number_of_reviews", "price_per_night", "reviews_ratio"]
df[num_cols] = scaler.fit_transform(df[num_cols])

In [12]:
df.to_csv("../data/listings_features_v1.csv", index=False)
print("Feature engineered dataset saved!")

Feature engineered dataset saved!